---

---


// a.post-text {
//     text-decoration: none;
// }

.pagination {
    .post-text {
        color: #777;
        text-decoration: none;
    }
}

a.post-subtag {
    margin-right: 8px;
    text-decoration: none;
    color: #777;
    font-size: 12px;
}

.multilevel {
    li {
        cursor: pointer;
    }

    > ul > li > a {
        // padding-left: 0px;
        font-weight: bold;
    }

    var {
        font-style: normal;
    }

    .active {
        span {
            background: #ff5100;
        }
    }
}

[data-theme="dark"] {
    .multilevel {
        > ul > li > a {
            padding-left: 0px;
        }

        li {
            ul {
                border-left: solid 1px #40404088;
                border-bottom: solid 1px #40404088;
                margin-left: 12px;
            }

            &:has(> ul) {
                border-bottom: none;
            }
        }

        .active {
            span {
                background: #ff5100;
            }
        }
    }
}

[data-theme="light"] {
    .multilevel {


        li {
            ul {
                border-left: solid 1px #00000028;
                border-bottom: solid 1px #00000028;
                margin-left: 12px;

                > li:last-of-type > ul {
                    border-bottom: none;
                }
            }

            &:has(> ul) {
                border-bottom: none;
            }


        }
    }
}