{%- include functions.html func='get_categories' -%}
{% assign categories = return %}

{% assign field = 'tags' %}

<div class="common-list multilevel">
    <ul>
        {% for term in site.data.taxonomy %}
            <li>
                <a>
                    {{ term.label }} <span>{{ site.posts | size }} / {{ site.posts | size }}</span>
                </a>
                {% if term.children %}
                    <ul>
                    {% for subterm in term.children %}
                        <li><a class="tag-filter" id="{{- subterm.id | remove: ' ' -}}" data-tag="{{ subterm.id }}" > {{ subterm.label }} <span>{{ site.posts | where: field, subterm.label | size }} / {{ site.posts | size }} </a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
